[submodule "code.cloudfoundry.org/cflager"]
	path = code.cloudfoundry.org/cflager
	url = https://github.com/cloudfoundry/cflager
[submodule "github.com/Kaixiang/csiplugin"]
	path = github.com/Kaixiang/csiplugin
	url = https://github.com/Kaixiang/csiplugin
